@for (question of questionsAndAnswers(); track question.id) {

    <div class="question-container">

        <app-title [title]="question.title"/>

        <app-hint
            [textHint]="question.hint"
            (usedHint)="onUsedHintEvent(question.id, $event)"
            [disable]="questionService.getQuestionSelectedStatus(question.id)"
            [isSecondChance]="isSecondChance()"
        />

        @for (answer of question.answers; track answer.id) {
            <app-selected-answer
                [answer]="answer"
                [isDisable]="questionService.getQuestionSelectedStatus(question.id)"
                [correctResponse]="getCorrectAnswerText(question.answers)"
                [isSecondChance]="isSecondChance()"
                (selected)="onQuestionSelected(question.id, $event)"
            />
        }

    </div>

}@empty{
    <pre>Cargando...</pre>
}

<app-modal-second-chance
    [show]="showModal"
    [points]="questionService.totalPointsLesson()"
    [isSecondChance]="isSecondChance()"
    [isPerfectPoint]="isPerfectPoint"
    [isPerfectPointUsingHint]="isPerfectPointUsingHint"
    (onSecondChange)="goToSecondChance($event)"
    (onFishSecondChange)="goToHome($event)"
/>
