@for (question of questionsAndAnswers(); track question.id) {

    <app-title [title]="question.title"/>

    <app-hint
        [textHint]="question.hint"
        (usedHint)="onUsedHintEvent(question.id, $event, count)"
        [disable]="questionService.getQuestionSelectedStatus(question.id)"
    />

    @for (answer of question.answers; track answer.id) {
        <app-selected-answer
            [answer]="answer"
            [isDisable]="questionService.getQuestionSelectedStatus(question.id)"
            (selected)="onQuestionSelected(question.id, $event)"
            [correctResponse]="getCorrectAnswerText(question.answers)"
        />
    }

}@empty{
    <pre>Cargando...</pre>
}

<app-modal-second-chance [show]="showModal" [points]="pointLesson"/>
