.path-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.path-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px dashed #ccc;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 80%;
}

.path-line {
    height: 50px;
    width: 5px;
    background-color: transparent;
    z-index: 0;
    border-style: dashed;
    border-color: #ccc;
}

.image {
    width: 35%;
    height: 35%;
}
