.path-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.path-step {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-button {
    z-index: 1;
    border: none;
    border: 5px dashed #ccc;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.path-line {
    height: 50px;
    /* Adjust the height of the connecting line */
    width: 5px;
    /* Line thickness */
    background-color: transparent;
    /* Line color */
    z-index: 0;
    border-style: dashed;
    border-color: #ccc;
}
