.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 2px solid var(--text-color-secondary);
    border-left-style: none;
    border-right-style: none;
}

.table td {
    padding: 0.3rem 1rem;
}
.table th {
    background-color: var(--surface-100);
    text-align: left;
    padding: 1.5rem 1rem;
}
