<app-geo-center-container title="Mi Usuario">
    <h3 class="text-2xl text-color-secondary font-bold">Usuario actual</h3>

    <p class="text-xl mb-0">
        Nombre Completo:
        <span class="font-italic">{{ currenUser().fullName }}</span>
    </p>
    <p class="text-xl mb-0">
        Usuario para entrar:
        <span class="font-italic">{{ currenUser().nickname }}</span>
    </p>
    <p class="text-xl mb-0">
        Activo:
        <span class="font-italic">{{
            currenUser().isActive ? "Si" : "No"
        }}</span>
    </p>
    <p class="text-xl mb-0">
        Rol de usuario:
        <span class="font-italic">{{ currenUser().roles[0] }}</span>
    </p>

    <h3 class="text-2xl text-color-secondary font-bold">Temas</h3>

    <app-select-theme></app-select-theme>

    <h3 class="text-2xl text-color-secondary font-bold">Opciones</h3>

    <button
        (click)="authService.logout()"
        style="min-height: 3rem"
        class="w-full text-red-500 font-bold surface-card border-round-xl text-xl border-solid border-red-500"
    >
        Cerrar Sesión
    </button>
</app-geo-center-container>
