
.justify-between {
    justify-content: space-between;
}

.gold {
    border-color: #ffd700;
    background-color: #fff8dc;
    height: 8rem;
    font-weight: 900;
}

.silver {
    border-color: #c0c0c0;
    background-color: #f8f8f8;
    height: 7rem;
    font-weight: 700;
}

.bronze {
    border-color: #cd7f32;
    background-color: #FFDAB9;
    height: 6rem;
}

.default {
    border: 1px solid #e2e8f0; /* Ejemplo de borde genérico */
}

.dark-mode-text{
    color: var(--surface-0);
}
