<li class="achievement-item">
    <div class="achievement-wrapper">
        <div class="achievement-content">
            <div class="picture-frame">
                <img
                    alt="achievement-image"
                    class="achievement-image"
                    [src]="achievement().image"
                >
            </div>
        </div>
        <div class="padlock-container">
            <img
            class="padlock-icon"
            src="assets/images/bloqueado.svg"
            alt="logro bloqueado"
            />
        </div>
    </div>
    <h2 class="achievement-title">{{ achievement().name }}</h2>
    <small class="achievement-description">{{ achievement().description }}</small>
</li>
