<p-dialog
    [header]="titleModal()"
    [modal]="true"
    [(visible)]="show"
    [style]="{ width: '50rem' }"
    styleClass="text-center"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [closable]="false"
>

    <ng-lottie
        class="lottie-container"
        [options]="options"
        width="50%"
        height="50%"
    />

    <p class="my-5 text-2xl">Puntos altualmente: <strong>{{modalData().points}}</strong></p>
    <div class="info-container">

        <button
            class="bg-primary-reverse border-round-xl text-2xl border-dotted border-primary p-3 hover:bg-primary"
            (click)="goToSecondChance()"
        >
                {{buttonText()}}
        </button>
    </div>
</p-dialog>
