<div [ngClass]="currentClass()">
    <label
        for="option-answer"
        class="option-label"
        (click)="selectedOption(answer())"
    >
        <span
            [ngClass]="{
                'dark-mode-text-correct':
                    currentClass().option_container_correct &&
                    layoutService.isDarkMode,
                'dark-mode-text-incorrect':
                    currentClass().option_container_incorrect &&
                    layoutService.isDarkMode
            }"
        >
            {{ answer().text }}
        </span>
    </label>
    @if (showResponse()) {
        <small
            class="option-small"
            [ngClass]="
                layoutService.isDarkMode
                    ? 'dark-mode-text-correct'
                    : ''
            "
        >
            {{ textIntro() }} @if (!answer().isCorrect) {<strong>{{
                correctResponse()
            }}</strong
            >}
        </small>
    }
</div>
