<app-geo-center-container 
    [title]="isFirstSurvey() ? 'Primera Encuesta':'Segunda Encuesta'"
>

    <p-toast/>

    @defer (when showForm()) {

        <form [formGroup]="surveyForm" (ngSubmit)="onSubmit()">
            @for (survey of surveys(); track $index; let i = $index) {
                <div [formGroupName]="survey.id">
                    <p class="font-semibold text-color-secondary my-2">{{ i + 1 }} - {{ survey.question }}</p> 
                    @for (option of survey.surveyOptions; track $index;) {
                        <label>
                            <input 
                                type="radio" 
                                [value]="option.value" 
                                formControlName="answer" 
                                (click)="selected(survey.id, option.value)" 
                            />
                            {{ option.name }}
                        </label>
                    }
                </div>
            }
            <p-button 
                type="submit"
                severity="success"
                styleClass="w-full my-3"
                label="Guardar"
                [disabled]="surveyForm.invalid"
            ></p-button>
        </form>
        
    }
    @placeholder {
        <geo-loading />
    }
</app-geo-center-container>
