<app-geo-center-container>
    <h2 class="font-bold text-color-secondary">Top de Jugadores</h2>

    <p class="text-color-secondary text-2xl my-4">
        <span class="text-primary font-bold">{{ users()?.currentUser.fullName }}</span> estas en el top
        <span class="text-primary font-bold">{{ users()?.currentUser.position }}</span>
    </p>

    @if (users()?.rankingUsers) {
        @for (user of users().rankingUsers; track user.user_id) {
            <app-ranking-item [user]="user" />
        } 
        <!-- //TODO: Caso no haya usuarios con puntos se debe mostrar que ningun 
                usuario a completado una categoria.
        @empty {
            aqui
        } -->
    }
</app-geo-center-container>
