<app-geo-center-container title="Top de Jugadores">

    @defer (on viewport) {
        @if (users()?.rankingUsers.length) {
            <p class="text-color-secondary text-2xl my-4">
                <span class="text-primary font-bold">{{ users()?.currentUser.fullName }}</span>

                {{ users()?.currentUser.position === 0 ? 'no estás en el top aún.' : 'estás en el top' }}

                @if(users()?.currentUser.position !== 0){
                    <span class="text-primary font-bold">{{ users()?.currentUser.position }}</span>
                }
            </p>
        }

        @if (users()?.rankingUsers) {

            @for (user of users().rankingUsers; track user.user_id) {
                <app-ranking-item [user]="user" />
            }

            @empty {
                <h2 class="text-color-secondary text-center my-8">
                    Ningún usuario ha completado una categoría.
                </h2>
            }
        }
    }
    @loading {
        <geo-loading />
    }
    @placeholder {
        <geo-loading />
    }
</app-geo-center-container>
