<app-geo-center-container>
    <p class="text-2xl font-bold text-color-secondary">Elija un tema</p>
    <app-select-theme></app-select-theme>

    <p class="text-2xl font-bold text-color-secondary mt-3 mb-0">
        Reestablecer base de datos
    </p>
    <p class="text-sm mt-0 mb-2 text-color-secondary">
        Borrará toda la información actual y cargará los valores por
        defecto de la semilla.
    </p>

    <button
        (click)="executeSeed()"
        [class]="
            textButton() === 'Ejecutar Semilla'
                ? 'bg-primary-reverse border-round-xl text-xl border-dotted border-primary p-3'
                : 'transparent-background text-red-500 font-bold border-round-xl text-xl border-dotted border-red-500 p-3'
        "
    >
        {{ textButton() }}
    </button>

</app-geo-center-container>



