<div class="grid">
    <div class="col-12 lg:col-12 xl:col-12">
        <div class="card mb-0 py-4  text-center text-3xl box-content-1">
            <h2 class="m-0 text-4xl text-primary font-bold">Lección de {{ title }}</h2>
        </div>

        <div class="card mt-2">

            <p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }" [life]="10000" />

            <app-title [title]="questions[currentQuestionIndex]?.title"/>

            <app-hint
                (changeHint)="toggleHint($event)"
                [textHint]="questions[currentQuestionIndex]?.hint"
                [showHint]="showHintSignal()"
                [disable]="isOptionSelected() || showHintSignal()"
            />

            <div class="list-box">
                <div *ngFor="let answer of questions[currentQuestionIndex]?.answers" class="list-content"
                    (click)="selectOption(questions[currentQuestionIndex].id, answer.id, answer.isCorrect)" [ngStyle]="{
                                'background-color': selectedAnswers[questions[currentQuestionIndex]?.id]?.id === answer.id
                                                    ? (selectedAnswers[questions[currentQuestionIndex]?.id]?.isCorrect ? '#3f35' : '#f335')
                                                    : selectedAnswers[questions[currentQuestionIndex]?.id] && answer.isCorrect
                                                    ? '#3f35' : 'transparent',
                                'pointer-events': selectedAnswers[questions[currentQuestionIndex]?.id] ? 'none' : 'auto',
                                'font-weight': selectedAnswers[questions[currentQuestionIndex]?.id]?.id === answer.id || (selectedAnswers[questions[currentQuestionIndex]?.id] && answer.isCorrect) ? 'bold' : 'normal'
                            }">
                    {{answer.text}}
                </div>
            </div>

            <div *ngIf="viewResponse[questions[currentQuestionIndex]?.id]">
                <p class="correct-answer">La respuesta correcta es: <span class="correct-answer-text"> {{
                        correctAnswers[questions[currentQuestionIndex]?.id] }}</span></p>
            </div>

            <div class="flex flex-wrap md:justify-content-between justify-content-center">
                <button
                    class="text-2x1 text-primary border-2 border-primary font-bold m-2 flex align-items-center justify-content-center"
                    (click)="nextQuestion()"
                    [disabled]="!isOptionSelected() && currentQuestionIndex !== questions.length - 1">
                    {{currentQuestionIndex === questions.length - 1 && incorrectAnswers.length > 0 ? 'Repasar preguntas'
                    : 'Siguiente'}}
                </button>
            </div>

            <app-finish-message
                titleMessage="Primera oportunidad finalizada"
                textMessage="Cometiste algunos errores, hagamos un ultimo repaso."
                [showMessage]="showReviewModal"
            />

        </div>
    </div>
</div>
