<app-geo-center-container>

    <div class="pb-4 text-center text-3xl">
        <h2 class="m-0 text-5xl text-color-secondary font-bold">
            Lección de {{ title }}
        </h2>
    </div>

    <div class="mt-2">
        
        <app-questions-and-answers
        [questionsAndAnswers]="questions()"
        (onIncorrectsCuestions)="addNewValues($event)"
        (onPointsWinned)="savePointsWinned($event)"
        ></app-questions-and-answers>
        
    </div>

    <app-achievement-pop-up [showNewAchievement]="popUpService.showNewAchievement()"/>

</app-geo-center-container>

    <p-toast
    [breakpoints]="{
        '920px': { width: '100%', right: '0', left: '0' }
    }"
    [life]="1500"
    ></p-toast>