<div class="flex flex-column align-items-center">
    <div class="category-container">
        @for (level of levels(); track level.id; let i = $index; let first =
        $first, last = $last) {
        <div
            #level
            [class]="level.unlockLevel ? 'unlocked' : 'blocked'"
            [ngClass]="{
                'to-animate': i === lastUnlockedIndex()
            }"
            (click)="changePath(level, level.unlockLevel)"
        >
            @if(!level.unlockLevel){
            <img
                class="image-padlock"
                src="assets/images/bloqueado.svg"
                alt="nivel bloqueado"
            />
            }
            <img
                [class]="level.unlockLevel ? 'image-unlocked' : 'image-blocked'"
                class="mt-3"
                [src]="images()[i]"
                alt="nivel desbloqueado"
            />
            <h4
                [ngClass]="{
                    'blocked-title': level.unlockLevel
                }"
            >
                {{ level.quiz.title }}
            </h4>
        </div>
        @if (!last) {
        <span class="line"></span>
        } }
    </div>
</div>
