@keyframes unlock {
    0% {
        box-shadow: 0 0 0px 0px rgba(255, 255, 0, 0.8);
        transform: scale(1);
    }
    50% {
        box-shadow: 0 0 20px 10px rgba(255, 255, 0, 0.8);
        transform: scale(1.05);
    }
    100% {
        box-shadow: 0 0 0px 0px rgba(255, 255, 0, 0.8);
        transform: scale(1);
    }
}

@keyframes flash {
    0% {
        box-shadow: 0 0 20px 5px rgba(255, 255, 0, 0.8);
    }
    50% {
        box-shadow: 0 0 50px 25px rgba(255, 255, 0, 1);
    }
    100% {
        box-shadow: 0 0 20px 5px rgba(255, 255, 0, 0.8);
    }
}

h4 {
    font-weight: 700;
    color: var(--surface-600);
}

.category-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unlocked,
.blocked {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 5px dashed #ccc;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 80%;
    position: relative;
    transition: background-color 0.5s ease, opacity 0.5s ease,
        box-shadow 0.5s ease, transform 0.5s ease;
}

.unlocked {
    animation: unlock 1s ease-out forwards, flash 0.5s ease-out 0.5s;
    opacity: 1;
}

.blocked {
    background-color: rgba(204, 204, 204, 0.2);
    opacity: 0.5;
}

.image-padlock {
    width: 30%;
    height: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.image-unlocked {
    width: 35%;
    height: 35%;
}

.image-blocked {
    width: 35%;
    height: 35%;
    filter: grayscale(100%);
    position: relative;
    z-index: 1;
}

.blocked-title {
    color: #ccc;
}

.path-line {
    height: 50px;
    background-color: transparent;
    z-index: 0;
    border-right-style: dashed;
    border-right-width: 5px;
    border-color: #ccc;
}
