<app-geo-center-container title="Usuarios">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <p-button
                severity="success"
                label="Nuevo"
                icon="pi pi-plus"
                class="mr-2"
                (onClick)="openNew()"
            />
            <!-- <p-button
                severity="danger"
                label="Eliminar"
                icon="pi pi-trash"
                (onClick)="deleteSelectedProducts()"
                [disabled]="!selectedUsers || !selectedUsers.length"
            /> -->
        </ng-template>
    </p-toolbar>

    <app-table
        [users]="users()"
        (onEditUser)="openEdit($event)"
        (onDeletedUser)="getUsers()"
    />

    <p-dialog
        [(visible)]="userDialog"
        [style]="{ width: '450px' }"
        [header]="isNewUser() ? 'Crear Usuario:' : 'Editar Usuario:'"
        [modal]="true"
        styleClass="p-fluid"
    >
        <ng-template pTemplate="content">
            <div class="field">
                <label for="name">Usuario para acceder</label>
                <input
                    type="text"
                    pInputText
                    id="name"
                    [(ngModel)]="user().nickname"
                    required
                    autofocus
                />
                <!-- <small class="p-error" *ngIf="submitted && !product.name">
                    Name is required.
                </small> -->
            </div>

            <div class="field">
                <label for="name">Nombre Completo</label>
                <input
                    type="text"
                    pInputText
                    id="name"
                    [(ngModel)]="user().fullName"
                    required
                    autofocus
                />
                <!-- <small class="p-error" *ngIf="submitted && !product.name">
                    Name is required.
                </small> -->
            </div>

            @if (!isNewUser()) {
            <div class="field">
                <label for="inventoryStatus">¿Está Activo?</label>
                <p-dropdown
                    [(ngModel)]="user().isActive"
                    inputId="inventoryStatus"
                    [options]="statuses()"
                >
                </p-dropdown>
            </div>
            }

            <div class="field">
                <label for="name">Roles que posee</label>
                <input
                    type="text"
                    pInputText
                    id="name"
                    [(ngModel)]="user().roles"
                    required
                    autofocus
                />
            </div>

            <div class="field">
                <label for="name">{{
                    isNewUser() ? "Contraseña" : "Nueva Contraseña"
                }}</label>
                <input
                    type="text"
                    pInputText
                    id="name"
                    [(ngModel)]="user().password"
                    required
                    autofocus
                />
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <p-button
                label="Cancel"
                icon="pi pi-times"
                [text]="true"
                (onClick)="hideDialog()"
            />
            <p-button
                label="Guardar"
                icon="pi pi-check"
                [text]="true"
                (onClick)="saveProduct()"
            />
        </ng-template>
    </p-dialog>
</app-geo-center-container>
