<p-toast></p-toast>
<app-geo-center-container title="Usuarios">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <p-button
                severity="success"
                label="Nuevo"
                icon="pi pi-plus"
                class="mr-2"
                (onClick)="openNew()"
            />
        </ng-template>
    </p-toolbar>

    <app-table
        [users]="users()"
        (onEditUser)="openEdit($event)"
        (onDeletedUser)="getUsers()"
    />

    <p-dialog
        [(visible)]="userDialog"
        [style]="{ width: '450px' }"
        [header]="isNewUser() ? 'Crear Usuario:' : 'Editar Usuario:'"
        [modal]="true"
        styleClass="p-fluid"
    >
        <ng-template pTemplate="content">
            <div class="field">
                <label for="nickname">Usuario para acceder</label>
                <input
                    type="text"
                    pInputText
                    id="nickname"
                    [(ngModel)]="user().nickname"
                    required
                    autofocus
                />
                <small class="p-error" *ngIf="submitted() && !user().nickname">
                    Usuario es requerido.
                </small> <!-- Mensaje de error si el campo está vacío -->
            </div>

            <div class="field">
                <label for="fullName">Nombre Completo</label>
                <input
                    type="text"
                    pInputText
                    id="fullName"
                    [(ngModel)]="user().fullName"
                    required
                    autofocus
                />
                <small class="p-error" *ngIf="submitted() && !user().fullName">
                    Nombre Completo es requerido.
                </small> <!-- Mensaje de error si el campo está vacío -->
            </div>

            <div class="field" *ngIf="!isNewUser()">
                <label for="isActive">¿Está Activo?</label>
                <p-dropdown
                    [(ngModel)]="user().isActive"
                    inputId="isActive"
                    [options]="statuses()"
                ></p-dropdown>
            </div>

            <div class="field">
                <label for="roles">Roles que posee</label>
                <input
                    type="text"
                    pInputText
                    id="roles"
                    [(ngModel)]="user().roles"
                    required
                    autofocus
                />
                <small class="p-error" *ngIf="submitted() && !user().roles">
                    Roles son requeridos.
                </small> <!-- Mensaje de error si el campo está vacío -->
            </div>

            <div class="field">
                <label for="password">{{
                    isNewUser() ? "Contraseña" : "Nueva Contraseña"
                }}</label>
                <input
                    type="text"
                    pInputText
                    id="password"
                    [(ngModel)]="user().password"
                    required
                    autofocus
                />
                <small class="p-error" *ngIf="submitted() && !user().password">
                    Contraseña es requerida.
                </small> <!-- Mensaje de error si el campo está vacío -->
            </div>
        </ng-template>

        <ng-template pTemplate="footer">
            <p-button
                label="Cancel"
                icon="pi pi-times"
                [text]="true"
                (onClick)="hideDialog()"
            />
            <p-button
                label="Guardar"
                icon="pi pi-check"
                [text]="true"
                (onClick)="saveProduct()"
            />
        </ng-template>
    </p-dialog>
</app-geo-center-container>
