<app-geo-center-container title="Logros">
    <ul class="ul-container">
        @for (achievementCurrentUser of achievementsCurrentUser(); track $index) {
            <app-achievement-item [achievement]="achievementCurrentUser" />
        } @empty{
            <h4 class="text-color-secondary">
                <span class="text-primary text-2xl font-bold"
                    >{{ currentUserName() }}
                </span>
                aún no tienes logros.
            </h4>
        }
    </ul>
    <h2 class="font-bold text-color-secondary mb-0">Logros bloqueados</h2>
    <ul class="ul-container">
        @for (achievement of allAchievements(); track $index) {
            <app-normal-achievement-item [achievement]="achievement" />
        }
    </ul>
</app-geo-center-container>
